*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background: #efdd8d;
}

$grey: #777;
$light-grey: #999;

div {
  position: absolute;
}

.container {
  margin: auto;
  top: 0;
  bottom: 0;
  left: -150px;
  right: 0;
  width: 200px;
  height: 100px;
  transform: rotate(-50deg);
  background-color: rgba(0, 0, 0, 0.04);
}

$red: #e25178;

/*
CSS triangle trick
https://css-tricks.com/snippets/css/css-triangle/ 
*/
.triangle {
  width: 0;
  height: 0;
  opacity: 0.1;
  top: 50px;
  left: 50px;
  border-top: 20px solid #f00;
  border-left: 50px solid #0f0;
  border-right: 20px solid #00f;
  border-bottom: 40px solid $red;
}

/*
CSS triangle trick
https://css-tricks.com/snippets/css/css-triangle/ 
*/
$white: #fff;
.party-hat {
  top: -25px;
  left: 130px;
  width: 0;
  height: 0;
  transform: rotate(45deg);
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 80px solid $red;
  /* 
  Polka dots repeated with box-shadow
  https://codepen.io/sashatran/pen/VPNZEe
  */
  &:before {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background: $white;
    top: 5px;
    left: -2px;
    box-shadow: -5px 15px 0 $white, 8px 27px 0 $white, -15px 55px 0 $white,
      18px 44px 0 $white;
  }
}

.trunk {
  width: 200px;
  height: 100px;
  background: #efdd8d;
  border-color: $grey;
  border-style: solid;
  border-width: 100px 0 0;
  border-radius: 100%;
  position: relative;

  &:before {
    position: absolute;
    content: "";
    top: -50px;
    left: 0;
    background: #efdd8d;
    border: 28px solid $grey;
    border-radius: 100%;
    width: 32px;
    height: 32px;
  }
}

.behind {
  top: 50px;
  left: 60px;
  width: 160px;
  height: 180px;
  background: $grey;
  border-radius: 100%;
  &:before {
    position: absolute;
    top: 120px;
    left: -10px;
    content: "";
    width: 30px;
    height: 30px;
    background: $grey;
    border-radius: 5px;
    transform: rotate(-40deg);
  }

  &:after {
    position: absolute;
    top: 150px;
    left: 15px;
    content: "";
    width: 30px;
    height: 30px;
    background: $grey;
    border-radius: 5px;
    transform: rotate(-40deg);
  }
}

.eye {
  z-index: 1;
  top: 30px;
  left: 80px;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background: #fff;
}

.iris {
  top: 2px;
  left: 1px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #000;
}

.ear {
  left: 30px;
  top: 5px;
  width: 90px;
  height: 70px;
  background: #edbbb4;
  border-radius: 100%;
}

.tail {
  top: 193px;
  left: 190px;
  width: 10px;
  height: 30px;
  background: $grey;
  border-radius: 10px;
}
