doctype html
html(lang="")
  head
    link(rel="stylesheet", href="office.scss")
  body
    .container
        .shelf 
            .cup
            .book
                div
                div
                div
        .frames
            div
            div
            div
            div
        .computer
            .stand
        .shine
        .desk
            div
            div
            div
        .plant
        .vase
        .ground
