@mixin size($w: 100%, $h: 100%) {
  width: $w;
  height: $h;
}

@mixin radius($b) {
  border-radius: $b;
  -webkit-border-radius: $b;
}

@mixin border($a) {
  border: $a solid $border;
}

$border: #0b303d;
$shelf: #c4aa8a;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  @include size(100vh, 100vw);
  display: flex;
  align-items: center;
  justify-content: center;
  background: #c6dabf;
  box-sizing: border-box;
  position: relative;
}
